body {
    font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #171835, #331b41);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 390px;
}

.calculator {
    background: #1e1e35;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#display {
    width: 70%;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    color: white;
}

.buttons button {
    width: 22%;
    padding: 15px;
    margin: 2%;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.op {
    background: #6c5ce7;
    color: white;
}

.equal {
    width: 90%;
    background: #00cec9;
    margin-top: 10px;
}

#clear {
    background: #d63031;
    color: white;
}

#history {
    background: #d6d6d6;
    padding: 10px;
    border-radius: 10px;
    min-height: 50px;
}

.quote {
    font-style: italic;
    margin-bottom: 20px;
    opacity: 0.8;
}
