  body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #252525, #411f00);

        }

        .box {
            width: 330px;
            background: linear-gradient(190deg, #000000, #ffffff);
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            color : white;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }


        input {
            width: 100%;
            padding: 10px;
            margin-top: 8px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }

        button {
            width: 100%;
            padding: 10px;
            margin-top: 15px;
            border: none;
            border-radius: 6px;
            background: #007bff;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background: #005fcc;
        }

        p {
            margin-top: 12px;
            text-align: center;
            cursor: pointer;
            color: #0361e5;
            font-size: small;
        }